.diagonal-gradient {
  background: linear-gradient(to bottom right, blue, pink);
}
  
h1 {
  color: #000000;
  margin-left: 500px;
}

h2 {
  color: #000000;
  margin-left: 60px;
}

p {
  color: #000000;
  margin-left: 60px;
}
