div {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

h1 {
  color: #000000;
  margin-left: 500px;
}

h2 {
  color: #000000;
  margin-left: 60px;
}

p {
  color: #000000;
  margin-left: 60px;
}
