.diagonal-gradient {
  background: linear-gradient(to bottom right, blue, pink);
}

  
div {
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
}
  
h1 {
  color: #000000;
  margin-left: 500px;
}

h2 {
  color: #000000;
  margin-left: 60px;
}

p {
  color: #000000;
  margin-left: 60px;
}
